*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Roboto, 'sans-serif';
}

.container
{
    display: flex;
    flex-direction: column;
    background-color: #1F2937;
    padding: 20px 200px;

}

.container .header
{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    font-family: Roboto, 'sans-serif';
    align-items: center;
    margin-bottom: 75px;
}

.container .header h1
{
    color: #F9FAF8;
    font-size: 24px;

}

#signup
{
    border-radius: 10px;
    background-color: #3882f6;
    color: #F9FAF8;
    margin: 20px 0;
    padding: 10px 20px;
    font-weight: bold;
    font-size: 15px;
}
ul
{
    display: flex;
    flex-direction: row;
    color: #e5e7eb;
    font-size: 18px;
    gap: 15px;
    list-style-type: none;
}

.top-section
{
    display: flex;
    flex-direction: row;
    margin-bottom: 75px;
    justify-content:space-between;
    align-items: center;
}

.top-section h1
{
    font-size: 48px;
    font-weight: extra-bold;
    color: #F9FAF8;
}
.top-section p
{
    font-size: 18px;
    color: #e5e7eb;
}

#placeholder
{
    width: 500px;
    height: auto;
    border-radius: 18px;
}

.top-section .left
{
    width: 450px;
    
}

a:link, a:visited
{
  color: #F9FAF8;  
  text-decoration: none;
}

a:hover,a:active
{
    font-style: italic;
}

.section1
{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 30px 100px;
}

.section1 .boxsection
{
    display: flex;
    flex-direction: row;
    gap: 50px;
    padding-bottom: 50px;
}
.section1 .title
{
    padding: 20px 0 50px 0;
}
.box
{
    height: 170px;
    width: 170px;
    justify-content: space-between;

    border-radius: 20px;
    border: 5px solid #3882f6;
}

.card
{
    text-align: center;
    max-width: 200px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.5em;
}